/* =======================
   MOBILE SIDEBAR
======================= */

.menu-btn{
display:none;
}

@media(max-width:768px){

.menu-btn{

display:flex;
justify-content:center;
align-items:center;

position:fixed;

top:15px;
left:15px;

width:45px;
height:45px;

background:#e32020;
color:white;

border:none;
border-radius:10px;

font-size:24px;

z-index:9999;

}

.sidebar{

position:fixed;

left:-270px;
top:0;

width:260px;
height:100vh;

transition:.3s;

z-index:9998;

}

.sidebar.active{

left:0;

}

.main-content{

margin-left:0!important;
width:100%!important;

}

}
